<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wangh.js测试</title>
    <script src="__STATIC__/common/whua.js"></script>
    <style>
        body{
            margin: 0;
            padding: 0;
        }
        .main{
            margin: 0 auto;
            border: 1px solid gainsboro;
            width: 80%;
            min-height: 500px;
        }
    </style>
</head>
<body>
<div class="main">
    <form action="" id="myform">
        <div>姓名:<input type="text"></div>
        <div>电话:<input type="text"></div>
        <div>邮箱:<input type="text"></div>
        <div>年龄:<input type="text"></div>

    </form>
</div>
</body>
<script>

</script>
</html>