<form class="layui-form layui-box" style='padding:25px 30px 20px 0' action="{:request()->url()}" data-auto="true" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">所属表</label>
        <div class="layui-input-block">
            <select name="dbname" required="required">
                <option value="">请选择</option>
                {notempty name='fields_info'}
                {volist name='fields_info' id='to'}
                <option value="{$to.dbname}" {:isset($vo.dbname)&&$vo.dbname==$to.dbname?'selected':''}>{$to.title}-{$to.dbname}</option>
                {/volist}
                {/notempty}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">字段注释</label>
        <div class="layui-input-block">
            <input type="text" name="title" value='{$vo.title|default=""}' class="layui-input" placeholder="填写字段注释 ">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否在列表显示</label>
        <div class="layui-input-block">
            <select name="is_show">
                <option value="0" {:isset($vo.is_show)&&$vo.is_show==0?'selected':''}>否</option>
                <option value="1" {:isset($vo.is_show)&&$vo.is_show==1?'selected':''}>是</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否在表单显示</label>
        <div class="layui-input-block">
            <select name="is_form">
                <option value="1" {:isset($vo.is_form)&&$vo.is_form==1?'selected':''}>是</option>
                <option value="0" {:isset($vo.is_form)&&$vo.is_form==0?'selected':''}>否</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">英文字段名</label>
        <div class="layui-input-block">
            <input type="text" name="fields_name" value='{$vo.fields_name|default=""}' class="layui-input" placeholder="填写英文字段名 ">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">字段类型</label>
        <div class="layui-input-block">
            <select name="type" <?php $fileds_type = getFieldsType('',true);?>
                {volist name='fileds_type' id='v'}
                <option value="{$v}" {:isset($vo.type)&&$vo.type==$v?'selected':''}>{$v}</option>
                {/volist}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">长度</label>
        <div class="layui-input-block">
            <input type="text" name="size" value='{$vo.size|default=""}' class="layui-input" placeholder="填写长度 ">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">小数位</label>
        <div class="layui-input-block">
            <input type="number" name="decimals_size" value='{$vo.decimals_size|default="0"}' class="layui-input" placeholder="填写小数位数 ">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">默认值</label>
        <div class="layui-input-block">
            <select name="default">
                <option value="" {:isset($vo.default)&&$vo.default==''?'selected':''}>空字符</option>
                <option value="0" {:isset($vo.default)&&$vo.default=='0'?'selected':''}>0</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">表单类型</label>
        <div class="layui-input-block">
            <select name="form_type" <?php $form_type = getFormType('', true);?>>
                <option value="">请选择</option>
                {notempty name='form_type'}
                {volist name='form_type' id='v'}
                <option value="{$v}" {:isset($vo.form_type)&&$vo.form_type==$v?'selected':''}>{$v}</option>
                {/volist}
                {/notempty}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">表单可选值</label>
        <div class="layui-input-block">
            <input type="text" name="form_value" value='{$vo.form_value|default=""}'
                   class="layui-input" placeholder="select和radio eg：1:男,2:女 用英文,和:隔开。使用表数据：web_area,area_id|=|0 逗号后面是条件，用'|'隔开" title="表单可选值，取值字段，在列表搜索组合起来使用">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">取值字段</label>
        <div class="layui-input-block">
            <input type="text" name="res_fields_name" value='{$vo.res_fields_name|default=""}'
                   class="layui-input" placeholder="取值字段 对应表单可选值,eg : id-title" title="表单可选值，取值字段，在列表搜索组合起来使用">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">是否多图</label>
        <div class="layui-input-block">
            单图<input type="radio" name="is_many_img" {:isset($vo.is_many_img) && $vo.is_many_img == 'one'?'checked':''} value="one" style="opacity: 0.000001;">&nbsp;&nbsp;
            多图<input type="radio" name="is_many_img" {:isset($vo.is_many_img) && $vo.is_many_img == 'mut'?'checked':''} value="mut" style="opacity: 0.000001;">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">是否自动提示</label>
        <div class="layui-input-block">
            <input type="text" name="is_auto_tips" value='{$vo.is_auto_tips|default=""}' class="layui-input" placeholder="自动提示参数 自定义eg：/admin/label/getlabel-id,title">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">在列表搜索</label>
        <div class="layui-input-block" title="表单可选值，取值字段，在列表搜索，可组合起来使用">
            <select name="is_search">
                <option value="0" {:isset($vo.is_search)&&$vo.is_search==='0'?'selected':''}>否</option>
                <option value="1" {:isset($vo.is_search)&&$vo.is_search=='1'?'selected':''}>是</option>
            </select>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">是否加入搜索引擎(扩展位)</label>
        <div class="layui-input-block">
            <select name="is_into_engine">
                <option value="0" {:isset($vo.is_into_engine)&&$vo.is_into_engine==='0'?'selected':''}>否</option>
                <option value="1" {:isset($vo.is_into_engine)&&$vo.is_into_engine=='1'?'selected':''}>是</option>
            </select>
        </div>
    </div>
    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'>{/if}
        <button class="layui-btn" type='submit'>保存</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取 消</button>
    </div>
    <script>window.form.render();</script>
</form>
