{notempty name='edit_fields'}
<!-- 引入magicsuggest css,js，不一定使用 -->
<link href="__STATIC__/plugs/magicsuggest-2.0.0/magicsuggest-min.css" rel="stylesheet">
<script src="__STATIC__/plugs/magicsuggest-2.0.0/magicsuggest-min.js"></script>
<form onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post" id="ProductForm" class='form-horizontal layui-form padding-top-20'>
    <!-- 保存img name -->
    {php} $namearr = [];{/php}
    {volist name='edit_fields' id='ef'}
    <div class="form-group">
        {if $ef.is_form == 1}
        <label class="col-sm-2 control-label">{$ef.title}</label>
        <div class="col-sm-8">
            {if $ef.form_type == 'input'}
                <!-- 自动提示 -->
                {if $ef.is_auto_tips}
                <span style="z-index: 99999">{:isset($vo[$ef.fields_name])?$vo[$ef.fields_name]:''}</span>
                <input type="hidden" class="{$ef.fields_name}{$key}" name="{$ef.fields_name}">
                <input type="text" autofocus  id="{$ef.fields_name}{$key}" placeholder="请输入{$ef.title}"  class="layui-input" value="">
                    {php}
                        $exp_data = explode("-", $ef['is_auto_tips']);
                        $js_data_url = empty($exp_data)?'':$exp_data[0];

                        $valueField = $exp_data?explode(',', $exp_data[1]):[];
                        $valueField = $valueField?$valueField[0]:'id';

                        $displayField = $exp_data?explode(',', $exp_data[1]):[];
                        $displayField = $displayField?$displayField[1]:'';
                    {/php}
                    <script>
                        //加载
                        var magicSuggest;
                        $(function () {
                            var js_data_url = '{$js_data_url}';
                            var valueField = '{$valueField}';
                            var displayField = "{$displayField}" ;
                            var magicSuggest_id = '{$ef.fields_name}{$key}';

                            if(js_data_url && valueField && displayField && magicSuggest_id){
                                //解析自动提示参数 eg：/admin/label/getlabel-id,title
                                magicSuggest = $('#'+magicSuggest_id).magicSuggest({
                                    data: js_data_url,
                                    //空间value值
                                    valueField:valueField,
                                    //在数据中用哪个字段名取得数据
                                    displayField:displayField,
                                    //允许选择的最大个数
                                    maxSelection:5,
                                    //查询参数 eg： url.html?str=
                                    queryParam:'{$ef.fields_name}',
                                    //允许用户手动输入
                                    allowFreeEntries:false
                                });
                                //获取
                                $(magicSuggest).on('selectionchange', function(e, cb, s){
                                    var str = cb.getValue();
                                    $('.'+magicSuggest_id).val(str);
                                });
                            }
                        })
                    </script>
                {else /}
                <input type="{$ef.type=='int'?'number':'text'}" autofocus name="{$ef.fields_name}" placeholder="请输入{$ef.title}" value='{:isset($vo[$ef.fields_name])?$vo[$ef.fields_name]:""}' class="layui-input">
                {/if}
            {elseif $ef.form_type == 'date'}
            <input type="date" autofocus name="{$ef.fields_name}" placeholder="请输入{$ef.title}" value='{:isset($vo[$ef.fields_name])?$vo[$ef.fields_name]:""}' class="layui-input">
            {elseif $ef.form_type == 'select'/}
            <select name="{$ef.fields_name}" <?php $r_list = dealFormValueList($ef['form_value'], $ef['res_fields_name']); ?> class='layui-select full-width'>
            <option value="">请选择</option>
            {notempty name='r_list'}
            {volist name='r_list' id='uo'}
            <option value="{$uo.id}" {:isset($vo[$ef.fields_name])&&$vo[$ef.fields_name]==$uo.id?'selected':''}>{$uo.title}</option>
            {/volist}
            {/notempty}
            </select>
            {elseif $ef.form_type == 'radio'/}
            <span <?php $r_list = dealFormValueList($ef['form_value'], $ef['res_fields_name']);?>></span>
            {notempty name='r_list'}
            {volist name='r_list' id='uo'}
            {$uo.title}<input type="radio" style="opacity: 0.000001;" {:isset($vo[$ef.fields_name])&&$vo[$ef.fields_name]==$uo.id?'checked':''} name="{$ef.fields_name}" value="{$uo.id}">&nbsp;&nbsp;
            {/volist}
            {/notempty}
            {elseif $ef.form_type == 'textarea'/}
            <textarea name="{$ef.fields_name}" class="" style="width: 100%;height: 90px;">{:empty($vo[$ef.fields_name])?'':$vo[$ef.fields_name]}</textarea>
            {elseif $ef.form_type == 'textarea_editer'/}
            <script src="__STATIC__/plugs/ckeditor/ckeditor.js"></script>
            <input type="hidden" name="{$ef.fields_name}" value="{:empty($vo[$ef.fields_name])?'':$vo[$ef.fields_name]}">
            <textarea id="editor_{$ef.id}"></textarea>
            <script>
                $(function () {
                    CKEDITOR.replace('editor_{$ef.id}');
                    CKEDITOR.instances.editor_{$ef.id}.setData($('input[name="{$ef.fields_name}"]').val());
                });
                function toGoIn(obj){
                    var content = CKEDITOR.instances.editor_{$ef.id}.getData();
                    if(!content)return ;
                    $('input[name="{$ef.fields_name}"]').val(content);
                    $(obj).parents('form').submit();
                }
            </script>
            {elseif $ef.form_type == 'img'/}
            <div class='col-sm-12'>
                <table class="layui-table background-item margin-none" lay-size="sm" lay-skin="nob">
                    <thead>
                    <tr>
                        <td>{$ef.title}</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-top" style="width:100px">
                            {php}array_push($namearr,['name'=>$ef['fields_name'],'type'=>$ef['is_many_img']]);{/php}
                            <input type="hidden" name="{$ef.fields_name}" value="{:empty($vo[$ef.fields_name])?'':$vo[$ef.fields_name]}">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {/if}
        </div>
        {/if}
    </div>
    {/volist}

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'>{/if}
        <span {$is_have_texarea_edit = 0}></span>
        <?php $open_type = 'data-modal';?>
        {volist name='edit_fields' id='ef'}
        {if in_array($ef.form_type,['textarea_editer'])}
        <?php $open_type='data-load';?>
        <span {$is_have_texarea_edit = 1}></span>
        {/if}
        {/volist}

        {if $is_have_texarea_edit}
        <button class="layui-btn" type='button' onclick="toGoIn(this)">保存</button>
        {else /}
        <button class="layui-btn" type='submit'>保存</button>
        {/if}
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-load="{:url('index')}">取消</button>
    </div>

</form>

<script>
    require(['jquery', 'ckeditor', 'angular'], function () {
        window.form.render();
        //window.createEditor('[name="goods_content"]', {height: 500});//创建编辑器
        var app = angular.module("ProductForm", []).run(callback);
        angular.bootstrap(document.getElementById(app.name), [app.name]);

        function callback($rootScope) {
            // 单图片上传处理
            //$('#ProductForm [name="goods_logo"]').uploadOneImage();
            // 多图片上传处理 默认
            console.log('数量：'+{:count($namearr)});
            {notempty name='namearr'}
            {volist name='namearr' id='to'}
            {if $to.type == 'one'}
                $('#ProductForm [name="{$to.name}"]').uploadOneImage();
            {else /}
                $('#ProductForm [name="{$to.name}"]').uploadMultipleImage();
            {/if}
            {/volist}
            {/notempty}
        };
    });
</script>
<style>

    .background-item {
        padding: 15px;
        background: #efefef;
    }

    .background-item thead tr {
        background: #e0e0e0
    }

</style>
{/notempty}